<div class="row">
  <div class="small-4 columns">
    <a href="#" data-reveal-id="mycheckout">
      <div class="panel callout radius">
        <h6 id="checkout" class="centered blink">
          <%= render partial: 'items/checkout_button' %>
        </h6>
      </div>
    </a>
  </div>
  <div class="small-2 small-offset-6 columns">
    <%= render 'devise/menu/login_items' %>
  </div>
</div>

<h1>New order</h1>

<%= render 'form' %>

<%= link_to 'Back', orders_path %>
